
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

a{
    text-decoration: none;
    color: #111111;
}

body{
    /*background-color: blueviolet;*/
    font-family: 'Nanum Gothic', sans-serif;
}

.line1 {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 25px;
    background-color: #207349;;
    font-family: Iner;
    height: 50px;
    line-height: 50px;
}


/* 회원가입 로그인 고객센터 부분 */

.block1 {
    width: 1050px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    /*background-color: aqua;*/
}

.block1 p{
    color: #111111;
    font-size: 13px;
}

.block1-2 {
    background-color: #ffffff;
    width: 70px;
    height: 100%;
    float: right;
    margin-left: 15px;
    text-align: center;
    line-height: 30px;
}

/* 무료폰트 유료폰트 검색어창 */

.block2 {
    width: 1050px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
}

.block2 div{
    line-height: 50px;
}

.block2-1{
    float: left;
    background-color: #BDD5C9;
    width: 100px;
    height: 100%;
    border-radius: 20px;
    margin-right: 20px;
    text-align: center;
}

.block2-1 p{
    color: #111111;
    font-size: 20px;
}

.block2-1 b{
    color: #207349;
    font-size: 20px;
}

.block2-2{
    background-color: #ffffff;
    width: 500px;
    height: 100%;
    border-radius: 10px;
    border: solid 1px #207349;
    padding-left: 10px;
    margin-left: 35px;
    float: left;
    text-align: left;
}
.block2-2 p{
    color: #cccccc;
    font-size: 20px;
}

/* 메인 배너 공간 */

.ben1{
    background-image: url(https://i.postimg.cc/c4yd5xV9/main1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    width: 1920px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    box-shadow: 5px 5px 5px gray;
    margin-top: 30px;
    
}

.ben1 a{
    width: 1920px;
    height: 300px;
    margin-left: auto;
    padding-left: auto;
    margin-right: auto;
    padding-right: auto;
    display: block;

}

/* 서브 배너 공간 */

.ben2{
    background-image: url(https://i.postimg.cc/7bvdsLhg/ben1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    width: 1050px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    box-shadow: 0px 5px 5px gray;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.ben2 a{
    width: 1920px;
    height: 200px;
    margin-left: auto;
    padding-left: auto;
    margin-right: auto;
    padding-right: auto;
    display: block;

}

/* 이달의 무료 폰트*/

.subtitle {
    width: 100;
    text-align: center;
    height: 50px;
    /*background-color: aqua;*/
    line-height: 50px;
    margin-bottom: 20px;
}

.subtitle p{
    font-size: 25px;
}

.list {
    width: 1050px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: aqua; */
    margin-bottom: 20px;

}

.list-1 {
    /*background-color: #207349;*/
    width: 250px;
    height: 100%;
    border-radius: 10px;
    float: left;
    overflow: hidden;
    box-shadow: 4px 4px 4px #cccccc;
}

.list-2 {
    /*background-color: #207349;*/
    width: 250px;
    height: 100%;
    border-radius: 10px;
    margin-left: 16.6px;
    float: left;
    overflow: hidden;
    box-shadow: 4px 4px 4px #cccccc;
}

.sub {
    width: 1050px;
    height: 125px;
    margin-left: auto;
    margin-right: auto;
    /*background-color: aqua;*/
    margin-bottom: 20px;
}

.list-3 {
    /*background-color: #207349;*/
    width: 250px;
    height: 100%;
    float: left;
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 10px;
}

.list-3 h2{
    font-size: 25px;
    border-bottom: solid 1px #111111;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.list-3 p{
    font-size: 15px;
}


.list-4 {
    /*background-color: #207349;*/
    width: 250px;
    height: 100%;
    margin-left: 16.6px;
    float: left;
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 10px;
}

.list-4 h2{
    font-size: 25px;
    border-bottom: solid 1px #111111;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.list-4 p{
    font-size: 15px;
}

.gongback {
    width: 100%;
    height: 30px;
    /*background-color: aqua;*/
}

/* 마지막 공간 */

.footer {
    background-color: #e6e6e6;
    width: 100%; 
    height: 300px;
}

.top1 {
    width: 1050px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    /*background-color: aqua;*/
    padding-top: 35px;
    padding-left: 20px;
    padding-bottom: 40px;
}

.top1 a{
    float: left;
    font-size: 20px;
    color: #777777;
    margin-right: 11px;
    margin-bottom: 46px;
}
.top1 p{
    float: none;
    clear: both;
    color: #999999;
}


.logo {
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 15px;
}

.logo img{
    width: 30px;
    height: 30px;
    float: left;
    margin-top: 53px;
}