@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media (max-width: 768px) {

    .header-tap>a>img{
        margin-left: 10px;
    }

    .nav {
        clear: both;
        margin-left: -10px;
        margin-top: 8px;
    }

    .nav>ul>li>a{
        background-color: rgba(255,255,255,0.7);
        padding: 4px;
        border: 1px solid #E8E8ED;
    }

    .header-right {
        clear: both;
        position: fixed;
        right: 0%;
    }

    .benner {
        height: calc(100vh - 300px);
        background-size:50%
        
    }
    
    .button-left>.material-symbols-outlined{
        display: none;
    }

    .button-right.material-symbols-outlined{
        display: none;
    }

    h1{
        text-align: left;
        margin-left: 10px;
    }

    .logue-text>p{
        padding-left: 10px;
    }

    .logue-text>p{
        text-align: left;
    }

    .list1{
        clear: both;
        margin-bottom: 20px;
        margin-left: 25px;
    }

    .list2{
        clear: both;
        margin-bottom: 20px;
        margin-left: 25px;
    }

    .product{
        clear: both;
    }
}

body{
    /*background-color: #c43f3f;*/
    color: #1B1D1F;
    font-family: Pretendard, sans-serif;
    padding-top: 150px;
}

a {

    text-decoration: none;
    color: #1B1D1F;
}

li {
    list-style: none;
}

.topbar {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 12%;
    bottom: 4%;
    /*background-color: blueviolet;*/
    line-height: 50px;
    text-align: center;
    font-size: 30px;
}

.topbar:hover{
    color: #73B0E3;
}

/* header */

#header {
    height: 100px;
    width: 100%;
    /*background-color: aqua;*/
    margin-bottom: 50px;
    border-bottom: 1px solid #E8E8ED;
    position: fixed;
    top: 0;
    background-color: #FFF;
}

.header-tap {
    width: 1280px;
    height: 100px;
    /*background-color: rgb(12, 110, 78);*/
    margin-left: auto;
    margin-right: auto;
}

.header-tap>a>img {
    width: 197px;
    height: 35px;
    margin-top: 32.5px;
    margin-right: 20px;
    display: inline-block;
    float: left;
}

.nav {
    width: 305px;
    height: 100px;
    float: left;
}

.nav>ul>li {
    float: left;
    margin-left: 20px;
    line-height: 100px;
    font-size: 16px;
    font-weight: 300;
}

.nav>ul>li>a:hover{
    color: #73B0E3;
}

.header-right {
    /*background-color: blue;*/
    height: 100px;
    width: 197px;
    float: right;
    padding: 0px 20px;
}

.header-right>ul>a>li{
    float: right;
    line-height: 100px;
    font-size: 50px;
    margin-left: 10px;
    margin-right: 15px;
}

.header-right>ul>a>li:hover{
    color: #73B0E3;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
}

/* header */
/* contents */
#content {
    height: 600px;
    width: 100%;
    background-color: #e8e8ed;
}

.more {
    width: 120px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    position: relative;
    line-height: 40px;
    border-radius: 20px;
    border: 1px solid #72787f;
    float: right;
    margin-top: 450px;
    margin-right: 240px;
}

.more:hover{
    transition: all .5s;
    border-radius: 10px;
    border-color: #73B0E3;
}

.more:not(:hover){
    transition: all .5s;
}


.benner {
    width: 1280px;
    height: 600px;
    background-image: url(https://i.postimg.cc/Y945zK01/image.png);
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    overflow: hidden;
    margin-bottom: 50px;
}

.button-left {
    width: 50px;
    height: 50px;
    /*background-color: rgb(18, 46, 37);*/
    float: left;
    display: inline;
    margin-top: 275px;
    line-height: 50px;
    margin-left: 10px;
}


.button-left>span>a{
    font-size: 50px;
    color: #FFF;
}

.button-left>span>a:hover{
    color: #1B1D1F;
}

.button-right {
    width: 50px;
    height: 50px;
    /*background-color: rgb(18, 46, 37);*/
    float: right;
    display: inline;
    margin-top: 275px;
    line-height: 50px;
    padding-left: 12px;
    margin-right: 10px;
}

.button-right>span>a{
    font-size: 50px;
    color: #FFF;
}

.button-right>span>a:hover{
    color: #1B1D1F;
}

.logue {
    width: 1280px;
    height: 75px;
    /*background-color: aquamarine;*/
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 75px;
    margin-bottom: 25px;
    border-bottom: 1px solid #1B1D1F;
}

.logue>h1{
    font-size: 24px;
    font-weight: 500;
}

.logue-img {
    width: 1280px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(https://i.postimg.cc/6p9F1GT6/desker.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    margin-bottom: 25px;
}

.logue-img>h5{
    font-size: 24px;
    font-weight: 700;
    color: rgba(115,176,227,0.5);
    text-align: center;
    line-height: 600px;
    
}

.logue-text {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 50px;
}

.logue-text>p{
    line-height: 24px;
}

.logue-text>p>b{
    line-height: 40px;
    font-size: 16px;
}

.product {
    width: 1280px;
    height: 75px;
    /*background-color: aquamarine;*/
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 75px;
    margin-bottom: 25px;
    border-bottom: 1px solid #1B1D1F;
}

.product>h1>strong{
    font-size: 24px;
    font-weight: 500;
}

.list {
    width: 1280px;
    height: 460px;
    margin-left: auto;
    margin-right: auto;
    /*background-color: coral;*/
    margin-bottom: 50px;
}

.list1 {
    width: 305px;
    height: 100%;
    background-color: #E8E8ED;
    float: left;
    margin-right: 20px;
    border-radius: 20px;
    overflow: hidden;
}

.list1:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: all .5s;
}

.list1:not(:hover){
    transition: all .5s;
}

.list1:hover img{
    transform: scale(1.08);
    transition: all .5s;
}

.list1:not(:hover) img{
    transition: all .5s;
}

.list2 {
    width: 305px;
    height: 100%;
    background-color: #E8E8ED;
    float: left;
    border-radius: 20px;
    overflow: hidden;
}

.list2:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: all .5s;
}

.list2:not(:hover){
    transition: all .5s;
}

.list2:hover img{
    transform: scale(1.08);
    transition: all .5s;
}

.list2:not(:hover) img{
    transition: all .5s;
}

.list img {
    width: 305px;
    height: 305px;
    margin-bottom: 12px;
    border-radius: 20px 20px 0px 0px;
}

.list h2 {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 8px;
    margin-left: 8px;
}

.listtext{
    margin-left: 8px;
}

.list span {
    line-height: 20px;
}

.price {
    font-weight: 700;
}

.del {
    color: #C9CDD2;
}

.star {
    color: #C9CDD2;
    display: block;
    margin-top: 8px;
}

.sale{
    color: #FF0000;
    font-weight: 700;
    margin-right: 8px;
}

.map {
    width: 1280px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.mapping {
    width: 1280px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    
}

.pop {
    width: 305px;
    height: 305px;
    background-color: #E8E8ED;
    float: right;
    margin-top: -250px;
    margin-right: 108px;
    padding: 50px 28px 60px 28px;
    text-align: center;
    margin-bottom: 50px;
    position: relative;
    
}

.pop-sub {
    height: 100px;
    width: 100%;
    line-height: 100px;
}

.pop-sub>h2{
    font-size: 24px;
    font-weight: 500;
    color: #73B0E3;
}

.pop-search{
    height: 75px;
    border-bottom: 3px solid #fff;
    line-height: 75px;
    text-align: left;
    padding-left: 8px;
    color: #9EA4AA;
    font-size: 16px;
    font-weight: 300;
}

.pop-search>a>span{
    float: right;
    line-height: 75px;
    color: #9EA4AA;
    font-weight: 300;
    font-size: 36px;
}

/* contents */
/* footer */

#footer{
    width: 100%;
    height: 250px;
    background-color: #9EA4AA;
    clear: both;
    border-top: 1px solid #E8E8ED;
}

.nav2 {
    width: 1280px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    line-height: 50px;
    margin-bottom: 8px;
}

.nav2>img {
    width: 197px;
    height: 35px;
    margin-top: 7.5px;
    float: left;
    margin-right: 20px;
}

.nav2>ul>li {
    float: left;
    margin-right: 40px;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
}

.nav2>ul>li>a{
    color: #FFF;
}

.nav2>ul>li>a:hover{
    color: #1B1D1F;
}

.footer-text{
    width: 1280px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.footer-text>p{
    clear: both;
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    margin-left: 217px;
    color: #FFF;
}

.footer-text>p>a{
    font-size: 12px;
    color: #ccc;
}

.footer-text>p>a:hover{
    color: #72787f;
}

/* about me page css*/

.about1{
    height: 600px;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.aboutimg1{
    height: 600px;
    width: 955px;
    background-image: url(https://i.postimg.cc/J47Qf33F/image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    float: left;
    margin-left: 20px;
}

.about1-text{
    width: 305px;
    /*background-color: #73B0E3;*/
    border-radius: 10px;
    border-top: 1px solid #9EA4AA;
    border-bottom: 1px solid #9EA4AA;
    padding: 20px;
    width: 305px;
    float: left;
}

.about1-text>h3{
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 12px;
    text-align:center;
}

.about1-text>p{
    font-size: 16px;
    font-weight: 300;
}


.about2{
    height: 600px;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 50px;
}

.aboutimg2{
    height: 600px;
    width: 955px;
    background-image: url(https://i.postimg.cc/rp9s24Nh/2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    margin-right: 20px;
}

.about2-text{
    width: 305px;
    /*background-color: #73B0E3;*/
    border-radius: 10px;
    border-right: 1px solid #9EA4AA;
    border-left: 1px solid #9EA4AA;
    padding: 20px;
    float: right;

}

.about2-text>h3{
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 12px;
    text-align:center;
}

.about2-text>p{
    font-size: 16px;
    font-weight: 300;
}

.benner2{
    width: 1280px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 10.5px;
    position: relative;
    margin-bottom: 8px;

}

.benner2::before{
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
    opacity: 0.5;
    background-size: cover;
    content: "";
    background-image: url(https://i.postimg.cc/cCtdCtfG/image.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.benner2>img{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border: 10px solid #9EA4AA;
}

.benner2-text{
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 100px;
    margin-bottom: 100px;
}

.benner2-text>p{
    font-size: 16px;
    font-weight: 300;
}

.link {
    width: 196px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.link>a>img{
    height: 50px;
}

/* information css */

.news-img{
    width: 1280px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(https://i.postimg.cc/90yF1q0t/infor.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    margin-bottom: 8px;
}

.news-sub {
    width: 846px;
    height: 75px;
    /*background-color: aquamarine;*/
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 75px;
    margin-bottom: 8px;
    border-top: 1px solid #1B1D1F;
}

.news-sub>h3{
    font-size: 24px;
    font-weight: 500;
}

.news-text {
    width: 846px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    height: 100px;
    margin-bottom: 25px;
    /*background-color: #73B0E3;*/
}

.tech {
    width: 1280px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.tech-img{
    background-image: url(https://i.postimg.cc/7ZKPB4Hc/tech.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;
    width: 1063px;
    float: left;
}

.tech-text{
    float: left;
    width: 197px;
    margin-left: 20px;
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    border-top: #9EA4AA 1px solid;
    border-bottom: #9EA4AA 1px solid;
    border-radius: 10px;
    padding: 20px;
}

.morelist {
    margin-left: auto;
    margin-right: auto;
    width: 1280px;
    height: 425px;
    /*background-color: #FF0000;*/
    margin-bottom: 100px;
}

.more1 {
    width: 100%;
    height: 200px;
    /*background-color: #73B0E3;*/
    justify-content: space-between;
    display: flex;
    margin-bottom: 25px;
}

.more1>a>img{
    width: 196px;
    height: 200px;
    object-fit: cover;
}

.more1>a>img:hover{
    scale: 1.2;
    transition: all .5s;
}

.more1>a>img:not(:hover){
    transition: all .5s;
}

.more2 {
    width: 100%;
    height: 200px;
    /*background-color: #21B64E;*/
    justify-content: space-between;
    display: flex;
}

.more2>a>img{
    width: 196px;
    height: 200px;
    object-fit: cover;
}

.more2>a>img:hover{
    scale: 1.2;
    transition: all .5s;
}


.more2>a>img:not(:hover){
    transition: all .5s;
}

/* store css */

.list-st {
    width: 1280px;
    height: 460px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

.list1-st {
    width: 305px;
    height: 100%;
    background-color: #E8E8ED;
    float: left;
    margin-right: 20px;
    border-radius: 20px;
    overflow: hidden;
}

.list1-st:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: all .5s;
}

.list1-st:not(:hover){
    transition: all .5s;
}

.list1-st:hover img{
    transform: scale(1.08);
    transition: all .5s;
}

.list1-st:not(:hover) img{
    transition: all .5s;
}

.list2-st {
    width: 305px;
    height: 100%;
    background-color: #E8E8ED;
    float: left;
    border-radius: 20px;
    overflow: hidden;
}

.list2-st:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: all .5s;
}

.list2-st:not(:hover){
    transition: all .5s;
}

.list2-st:hover img{
    transform: scale(1.08);
    transition: all .5s;
}

.list2-st:not(:hover) img{
    transition: all .5s;
}

.list-st img {
    width: 305px;
    height: 305px;
    margin-bottom: 12px;
    border-radius: 20px 20px 0px 0px;
}

.list-st h2 {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 8px;
    margin-left: 8px;
}

.listtext-st{
    margin-left: 8px;
}

.list-st span {
    line-height: 20px;
}

.signature {
    width: 1280px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    /*background-color: #FF0000;*/
    margin-bottom: 25px;
    position: relative;
}


.sig-text{
    width: 197px;
    position: absolute;
    top: 0;
    right: 0;
    /*background-color: #72787f;*/
    padding: 8px 0px;
    font-size: 12px;
    font-weight: 300;
    border-top: 1px solid #E8E8ED;
}

.sig-name{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #E8E8ED;
    width: 197px;
    text-align: center;
    padding: 8px 0px;
}

.sig-name>a>h4{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;
    border-bottom: 1px #C9CDD2 solid;
    padding-bottom: 8px;
}

.sig-name>span{
    font-size: 24px;
    font-weight: 700;
}

.sig-name>del{
    color: #72787f;
    line-height: 20px
}

.sig-img1{
    width: 1063px;
    height: 400px;
    overflow: hidden;
}

.sig-img1>img{
    width: 100%;
    transition: all .5s;
}

.sig-img1>img:hover{
    scale: 1.1;
}

.sig-img2{
    width: 1063px;
    height: 400px;
    overflow: hidden;
}

.sig-img2>img{
    width: 100%;
    transition: all .5s;
}

.sig-img2>img:hover{
    scale: 1.1;
}

.category {
    width: 100%;
    height: 100px;
    margin-bottom: 25px;
}

.category>ul{
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.category>ul>li{
    float: left;
    font-size: 16px;
    font-weight: 300;
    padding: 0px 20px;
    height: 40px;
    border: #C9CDD2 1px solid;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
    margin-bottom: 8px;
}

.category>ul>li:not(:last-of-type){
    margin-right: 8px;
}
.category>ul>li:hover{
    background-color: #E8E8ED;
}

.logue-store {
    width: 1280px;
    height: 75px;
    /*background-color: aquamarine;*/
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 75px;
    margin-bottom: 25px;
}

.logue-store>h1{
    font-size: 24px;
    font-weight: 500;
}